@layer components {
  .link {
    @apply underline text-info-extra-accent;
  }

  .meta-tag {
    @apply bg-surface-muted border-1 border-surface-extra-muted rounded-2xl;
    @apply text-content-extra-muted text-xs text-nowrap whitespace-nowrap px-2 py-1;
  }

  .meta {
    @apply text-content-extra-muted text-sm text-nowrap whitespace-nowrap;
  }

  .hint {
    @apply text-content-extra-muted text-sm;
  }

  .ticker {
    @apply text-content-extra-muted text-sm font-bold;
    @apply text-nowrap whitespace-nowrap;
  }

  .animate-ticker {
    @apply w-max;
    @apply will-change-transform;
    animation: ticker-scroll 20s linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }

  @keyframes ticker-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
