@if (isMultiline()) {
  <ng-container *ngTemplateOutlet="multiline"></ng-container>
} @else {
  <ng-container *ngTemplateOutlet="inline"></ng-container>
}

<ng-template #multiline>
  <div class="code-block">
    @if (fileName()) {
      <div class="code-header">
        <span>{{ fileName() }}</span>
      </div>
    }
    <div class="relative">
      <pre
        class="code-pre"
      ><code #codeBlock [attr.class]="'language-' + fileType()">{{ code() }}</code></pre>
      <button class="btn btn-primary btn-icon surface absolute top-1 right-5" (click)="copyCode()">
        <app-copy-icon />
      </button>
    </div>
  </div>
</ng-template>

<ng-template #inline>
  <span class="code-inline">
    <code #codeBlock [attr.class]="'language-' + fileType()">{{ code() }}</code>
  </span>
</ng-template>
