@if (isMultiline()) {
  <div [class]="class()" class="code-block">
    @if (fileName()) {
      <div class="code-header">
        <span>{{ fileName() }}</span>
      </div>
    }
    <div class="relative">
      <pre class="code-pre"><ng-container *ngTemplateOutlet="codeWrap"/></pre>
      <button class="btn btn-primary btn-icon surface absolute top-1 right-5" (click)="copyCode()">
        <app-icon icon="copy" title="Copy code" />
      </button>
    </div>
  </div>
} @else {
  <span [class]="class()" class="code-inline">
    <ng-container *ngTemplateOutlet="codeWrap" />
  </span>
}

<ng-template #codeWrap>
  <code #codeBlock [attr.class]="'language-' + fileType()">{{ code() }}</code>
</ng-template>
