@layer base {
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
    src: url('/fonts/IBMPlexSans_wdth,wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 100 800;
    font-display: swap;
    src: url('/fonts/Sora_wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/SpaceMono.ttf') format('truetype');
  }

  :root {
    @apply bg-surface text-text;
    font-family: 'IBM Plex Sans', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Sora', sans-serif;
  }

  h1 {
    @apply font-semibold text-4xl;
  }

  h2 {
    @apply font-semibold text-3xl;
  }

  h3 {
    @apply font-medium text-2xl;
  }

  h4 {
    @apply font-medium text-xl;
  }

  h5 {
    @apply font-medium text-lg;
  }
}
