@layer utilities {
  .text {
    --color-extra-accent: var(--color-text-extra-accent);
    --color-accent: var(--color-text-accent);
    --color: var(--color-text);
    --color-muted: var(--color-text-muted);
    --color-extra-muted: var(--color-text-extra-muted);
  }

  .surface {
    --color-extra-accent: var(--color-surface-extra-accent);
    --color-accent: var(--color-surface-accent);
    --color: var(--color-surface);
    --color-muted: var(--color-surface-muted);
    --color-extra-muted: var(--color-surface-extra-muted);
  }
  .primary {
    --color-extra-accent: var(--color-primary-extra-accent);
    --color-accent: var(--color-primary-accent);
    --color: var(--color-primary);
    --color-muted: var(--color-primary-muted);
    --color-extra-muted: var(--color-primary-extra-muted);
  }
  .success {
    --color-extra-accent: var(--color-success-extra-accent);
    --color-accent: var(--color-success-accent);
    --color: var(--color-success);
    --color-muted: var(--color-success-muted);
    --color-extra-muted: var(--color-success-extra-muted);
  }
  .warning {
    --color-extra-accent: var(--color-warning-extra-accent);
    --color-accent: var(--color-warning-accent);
    --color: var(--color-warning);
    --color-muted: var(--color-warning-muted);
    --color-extra-muted: var(--color-warning-extra-muted);
  }
  .danger {
    --color-extra-accent: var(--color-danger-extra-accent);
    --color-accent: var(--color-danger-accent);
    --color: var(--color-danger);
    --color-muted: var(--color-danger-muted);
    --color-extra-muted: var(--color-danger-extra-muted);
  }
  .info {
    --color-extra-accent: var(--color-info-extra-accent);
    --color-accent: var(--color-info-accent);
    --color: var(--color-info);
    --color-muted: var(--color-info-muted);
    --color-extra-muted: var(--color-info-extra-muted);
  }
}
