@layer utilities {
  .content {
    --color-bg-extra-accent: var(--color-content-extra-accent);
    --color-bg-accent: var(--color-content-accent);
    --color-bg: var(--color-content);
    --color-bg-muted: var(--color-content-muted);
    --color-bg-extra-muted: var(--color-content-extra-muted);

    --color-text-extra-accent: var(--color-surface-extra-accent);
    --color-text-accent: var(--color-surface-accent);
    --color-text: var(--color-surface);
    --color-text-muted: var(--color-surface-muted);
    --color-text-extra-muted: var(--color-surface-extra-muted);
  }

  .surface {
    --color-bg-extra-accent: var(--color-surface-extra-accent);
    --color-bg-accent: var(--color-surface-accent);
    --color-bg: var(--color-surface);
    --color-bg-muted: var(--color-surface-muted);
    --color-bg-extra-muted: var(--color-surface-extra-muted);

    --color-text-extra-accent: var(--color-content-extra-accent);
    --color-text-accent: var(--color-content-accent);
    --color-text: var(--color-content);
    --color-text-muted: var(--color-content-muted);
    --color-text-extra-muted: var(--color-content-extra-muted);
  }
  .primary {
    --color-bg-extra-accent: var(--color-primary-extra-accent);
    --color-bg-accent: var(--color-primary-accent);
    --color-bg: var(--color-primary);
    --color-bg-muted: var(--color-primary-muted);
    --color-bg-extra-muted: var(--color-primary-extra-muted);

    --color-text-extra-accent: var(--color-content-extra-accent);
    --color-text-accent: var(--color-content-accent);
    --color-text: var(--color-content);
    --color-text-muted: var(--color-content-muted);
    --color-text-extra-muted: var(--color-content-extra-muted);
  }
  .success {
    --color-bg-extra-accent: var(--color-success-extra-accent);
    --color-bg-accent: var(--color-success-accent);
    --color-bg: var(--color-success);
    --color-bg-muted: var(--color-success-muted);
    --color-bg-extra-muted: var(--color-success-extra-muted);

    --color-text-extra-accent: var(--color-content-extra-accent);
    --color-text-accent: var(--color-content-accent);
    --color-text: var(--color-content);
    --color-text-muted: var(--color-content-muted);
    --color-text-extra-muted: var(--color-content-extra-muted);
  }
  .warning {
    --color-bg-extra-accent: var(--color-warning-extra-accent);
    --color-bg-accent: var(--color-warning-accent);
    --color-bg: var(--color-warning);
    --color-bg-muted: var(--color-warning-muted);
    --color-bg-extra-muted: var(--color-warning-extra-muted);

    --color-text-extra-accent: var(--color-content-extra-accent);
    --color-text-accent: var(--color-content-accent);
    --color-text: var(--color-content);
    --color-text-muted: var(--color-content-muted);
    --color-text-extra-muted: var(--color-content-extra-muted);
  }
  .danger {
    --color-bg-extra-accent: var(--color-danger-extra-accent);
    --color-bg-accent: var(--color-danger-accent);
    --color-bg: var(--color-danger);
    --color-bg-muted: var(--color-danger-muted);
    --color-bg-extra-muted: var(--color-danger-extra-muted);

    --color-text-extra-accent: var(--color-content-extra-accent);
    --color-text-accent: var(--color-content-accent);
    --color-text: var(--color-content);
    --color-text-muted: var(--color-content-muted);
    --color-text-extra-muted: var(--color-content-extra-muted);
  }
  .info {
    --color-bg-extra-accent: var(--color-info-extra-accent);
    --color-bg-accent: var(--color-info-accent);
    --color-bg: var(--color-info);
    --color-bg-muted: var(--color-info-muted);
    --color-bg-extra-muted: var(--color-info-extra-muted);

    --color-text-extra-accent: var(--color-content-extra-accent);
    --color-text-accent: var(--color-content-accent);
    --color-text: var(--color-content);
    --color-text-muted: var(--color-content-muted);
    --color-text-extra-muted: var(--color-content-extra-muted);
  }
}
