<div class="relative">
  <div
    #strip
    class="transition-transform duration-300 ease-out"
    [style.transform]="'translateX(-' + offset() + 'px)'"
  >
    <ng-content />
  </div>
  @if (isScrollable('l')) {
    <app-gradient-overlay [sizePercentage]="10" [color]="color()" side="l" />
    <button (click)="scroll('l')" class="btn btn-icon px-0 absolute inset-y-0 left-0">
      <app-arrow-icon class="rotate-90" title="Scroll left" />
    </button>
  }
  @if (isScrollable('r')) {
    <app-gradient-overlay [sizePercentage]="10" [color]="color()" side="r" />
    <button (click)="scroll('r')" class="btn btn-icon px-0 absolute inset-y-0 right-0">
      <app-arrow-icon class="-rotate-90" title="Scroll right" />
    </button>
  }
</div>
