<ng-template #breadcrumbs>
  <app-breadcrumbs />
</ng-template>

<ng-template #heading>
  <h1 class="mt-2">Cookies</h1>
</ng-template>

@let contentAst = policyContent | markdownAst;
<ng-template #content>
  @if (contentAst) {
    <app-markdown [ast]="contentAst" />
  }
</ng-template>

<ng-template #contentTable>
  @if (contentAst) {
    <app-toc-markdown [ast]="contentAst" />
  }
</ng-template>

<app-content-page>
  <ng-container id="header">
    <ng-container *ngTemplateOutlet="breadcrumbs" />
    <ng-container *ngTemplateOutlet="heading" />
  </ng-container>
  <ng-container id="content">
    <ng-container *ngTemplateOutlet="content" />
  </ng-container>
  <ng-container id="sidebar">
    <div class="sidebar-card">
      <ng-container *ngTemplateOutlet="contentTable" />
    </div>
  </ng-container>
</app-content-page>
