<ng-template #breadcrumbs>
  <app-breadcrumbs />
</ng-template>

<ng-template #heading>
  <h1 class="mt-2">{{ tool().title }}</h1>
</ng-template>

<ng-template #ticker>
  <app-news-ticker>
    <div class="inline-flex flex-row gap-4 mr-4">
      <span>NO SIGN UP</span>
      <span>|</span>
      <span>NO NEWSLETTER</span>
      <span>|</span>
      <span>NO QUEUE</span>
      <span>|</span>
      <span>NO SUBSCRIPTION</span>
      <span>|</span>
      <span>NO CREDITS</span>
      <span>|</span>
      <span>NO FREEMIUM</span>
      <span>|</span>
      <span>NO LIMITED OPTIONS</span>
      <span>|</span>
      <span>NO INTRUSIVE ADS</span>
      <span>|</span>
    </div>
  </app-news-ticker>
</ng-template>

<ng-template #uploadForm>
  <app-input-file
    [disabled]="upscaleState() === 'inprogress'"
    [multiple]="true"
    accept="image/*"
    (onchange)="onFilesSelected($event)"
  />
  <button
    [disabled]="upscaleState() !== 'idle' || uploadedImages().length === 0"
    (click)="upscaleImages()"
    class="btn btn-primary surface w-full mt-3"
  >
    Upscale
  </button>
</ng-template>

<ng-template #content>
  @if (uploadedImages().length > 0) {
    <h2 class="my-2">Results</h2>
    <div class="flex flex-col overflow-x-auto gap-4">
      @for (image of uploadedImages(); track $index) {
        @let upscaled = upscaledData()[$index];

        <div class="relative flex-shrink-0 w-full">
          <app-process-progress [state]="upscaled.state" [progress]="upscaled.progress">
            <ng-container id="before">
              <img [src]="image.src" [alt]="image.alt" class="w-full object-contain" />
            </ng-container>
            <ng-container id="after">
              <img
                [src]="upscaled.image?.src"
                [alt]="'Upscaled: ' + image.alt"
                class="w-full object-contain"
              />
            </ng-container>
          </app-process-progress>

          @if (upscaleState() === 'idle') {
            <button
              (click)="removeImage($index)"
              class="z-50 absolute top-2 right-2 btn btn-primary btn-icon danger"
            >
              <app-icon icon="close" title="Delete image" />
            </button>
          }
        </div>
      }
    </div>
  } @else {
    <ng-template
      #upscaleExample
      let-beforeSrc="beforeSrc"
      let-afterSrc="afterSrc"
      let-beforeDescription="beforeDescription"
      let-afterDescription="afterDescription"
      let-alt="alt"
    >
      <app-slider-compare>
        <ng-content id="before">
          <div class="relative size-full">
            <img [src]="beforeSrc" [alt]="alt + ' before upscale'" class="w-full object-contain" />
            <div
              class="absolute left-2 bottom-2 text-sm text-content-extra-accent text-shadow-2xs text-shadow-surface-extra-muted"
            >
              {{ beforeDescription }}
            </div>
          </div>
        </ng-content>
        <ng-content id="after">
          <div class="relative size-full">
            <img [src]="afterSrc" [alt]="alt + ' after upscale'" class="w-full object-contain" />
            <div
              class="absolute right-2 bottom-2 text-sm text-content-extra-accent text-shadow-2xs text-shadow-surface-extra-muted"
            >
              {{ afterDescription }}
            </div>
          </div>
        </ng-content>
      </app-slider-compare>
    </ng-template>

    <h2 class="mt-4">Example Showcase</h2>
    <p class="hint mb-2">
      Note that images are fit to exaggerated (bigger or smaller) sizes, so it is easier to see the
      difference after upscaling.
    </p>
    <div class="grid grid-cols-2 gap-4">
      <ng-container
        *ngTemplateOutlet="
          upscaleExample;
          context: {
            beforeSrc: './images/upscale-examples/person-image.png',
            afterSrc: './images/upscale-examples/upscaled-person-image.png',
            beforeDescription: '80x80px',
            afterDescription: '320x320px',
            alt: 'Person photo',
          }
        "
      />

      <ng-container
        *ngTemplateOutlet="
          upscaleExample;
          context: {
            beforeSrc: './images/upscale-examples/dog-image.jpg',
            afterSrc: './images/upscale-examples/upscaled-dog-image.png',
            beforeDescription: '150x150px',
            afterDescription: '600x600px',
            alt: 'Dog photo',
          }
        "
      />

      <ng-container
        *ngTemplateOutlet="
          upscaleExample;
          context: {
            beforeSrc: './images/upscale-examples/forest-image.jpg',
            afterSrc: './images/upscale-examples/upscaled-forest-image.png',
            beforeDescription: '150x150px',
            afterDescription: '600x600px',
            alt: 'Forest photo',
          }
        "
      />

      <ng-container
        *ngTemplateOutlet="
          upscaleExample;
          context: {
            beforeSrc: './images/upscale-examples/apple-image.jpg',
            afterSrc: './images/upscale-examples/upscaled-apple-image.png',
            beforeDescription: '180x180px',
            afterDescription: '720x720px',
            alt: 'Apple logo image',
          }
        "
      />

      <ng-container
        *ngTemplateOutlet="
          upscaleExample;
          context: {
            beforeSrc: './images/upscale-examples/computer-image.jpg',
            afterSrc: './images/upscale-examples/upscaled-computer-image.png',
            beforeDescription: '150x150px',
            afterDescription: '600x600px',
            alt: 'Computer image',
          }
        "
      />

      <ng-container
        *ngTemplateOutlet="
          upscaleExample;
          context: {
            beforeSrc: './images/upscale-examples/document-image.jpg',
            afterSrc: './images/upscale-examples/upscaled-document-image.png',
            beforeDescription: '150x150px',
            afterDescription: '600x600px',
            alt: 'Document image',
          }
        "
      />
    </div>

    @let contentAst = tool().content | markdownAst;
    @if (contentAst) {
      <app-markdown [ast]="contentAst" />
    }
  }
</ng-template>

<ng-template #downloadAllButton>
  <button (click)="downloadAll()" class="btn btn-primary success w-full">Download All</button>
</ng-template>

<ng-template #abortButton>
  <button (click)="onAbortClick()" class="btn btn-primary danger w-full">Abort</button>
</ng-template>

<app-content-page>
  <ng-container id="header">
    <ng-container *ngTemplateOutlet="breadcrumbs" />
    <ng-container *ngTemplateOutlet="heading" />
    <ng-container *ngTemplateOutlet="ticker" />
  </ng-container>
  <ng-container id="content">
    <ng-container *ngTemplateOutlet="content" />
  </ng-container>
  <ng-container id="sidebar">
    <div class="sidebar-card primary">
      <ng-container *ngTemplateOutlet="uploadForm" />
    </div>
    @if (upscaleState() === 'inprogress') {
      <div class="sidebar-card">
        <ng-container *ngTemplateOutlet="abortButton" />
      </div>
    }
    @if (upscaleState() === 'done') {
      <div class="sidebar-card">
        <ng-container *ngTemplateOutlet="downloadAllButton" />
      </div>
    }
  </ng-container>
</app-content-page>
