<ng-template #cover>
  <div class="cover">
    <app-image [image]="tutorial().image" loading="lazy" decoding="async" />
    <app-gradient-overlay [sizePercentage]="10" color="surface" side="b" />
  </div>
</ng-template>

<ng-template #breadcrumbs>
  <app-breadcrumbs />
</ng-template>

<ng-template #heading>
  <h1 class="mt-2">{{ tutorial().title }}</h1>
</ng-template>

<ng-template #meta>
  <div class="flex flex-row items-center justify-between mb-2">
    <app-arrow-scroll class="min-w-0 flex-1 overflow-hidden" color="surface">
      <div class="inline-flex gap-1 pr-4">
        @for (tag of tutorial().tags; track $index) {
          <span class="meta-tag">{{ tag }}</span>
        }
      </div>
    </app-arrow-scroll>

    @let recentDate = tutorial().modifiedAt || tutorial().createdAt;
    <span class="meta flex-shrink-0 ml-2">
      {{ recentDate | date: 'dd/MM/yy HH:mm' }}
    </span>
  </div>
</ng-template>

@let contentAst = tutorial().content | markdownAst;
<ng-template #content>
  @if (contentAst) {
    <app-markdown [ast]="contentAst" />
  }
</ng-template>

<ng-template #contentTable>
  @if (contentAst) {
    <app-toc-markdown [ast]="contentAst" />
  }
</ng-template>

<ng-template #solution>
  @let solutionAst = tutorial().solution | markdownAst;
  @if (solutionAst) {
    <h3 class="mb-2 text-primary-extra-accent">Solution:</h3>
    <app-markdown [ast]="solutionAst"></app-markdown>
  }
</ng-template>

<app-content-page>
  <ng-container id="header">
    <ng-container *ngTemplateOutlet="cover" />
    <ng-container *ngTemplateOutlet="breadcrumbs" />
    <ng-container *ngTemplateOutlet="heading" />
    <ng-container *ngTemplateOutlet="meta" />
  </ng-container>
  <ng-container id="content">
    <ng-container *ngTemplateOutlet="content" />
  </ng-container>
  <ng-container id="sidebar">
    <div class="sidebar-card border-primary-extra-accent shadow-primary-muted/50">
      <ng-container *ngTemplateOutlet="solution" />
    </div>
    <div class="sidebar-card">
      <ng-container *ngTemplateOutlet="contentTable" />
    </div>
  </ng-container>
</app-content-page>
