<ng-template #tutorialsList>
  <div class="meta mb-1 w-full text-end">
    Showing {{ tutorials().length }} results of {{ allTutorialsLength }} total
  </div>
  @for (obj of tutorials(); track obj.id) {
    <a [routerLink]="obj.id">
      <div class="card w-full mt-0">
        <div class="cover">
          <img [src]="obj.cover" [alt]="obj.title" />
          <app-gradient-overlay [sizePercentage]="10" color="surface-accent" side="b" />
        </div>
        <h2>{{ obj.title }}</h2>
        <div class="mt-2">{{ obj.description }}</div>
        <div class="meta text-right">
          {{ obj.createdAt | date: 'dd/MM/yy HH:MM' }}
        </div>
      </div>
    </a>
  }
  <div class="flex flex-row justify-between w-full">
    @if (currentPage === 1) {
      <span class="btn btn-primary btn-icon btn-disabled"
        ><app-icon icon="arrow" title="Previous Page" class="rotate-90"
      /></span>
    } @else {
      <a
        class="btn btn-primary btn-icon"
        [routerLink]="[]"
        [queryParams]="{ page: currentPage - 1 }"
        queryParamsHandling="merge"
        ><app-icon icon="arrow" title="Previous Page" class="rotate-90"
      /></a>
    }
    @for (page of pageNumbers; track $index) {
      @if (page === null) {
        <span class="btn btn-secondary btn-icon btn-disabled">...</span>
      } @else if (page === currentPage) {
        <span class="btn btn-secondary btn-icon font-bold">{{ page }}</span>
      } @else {
        <a
          class="btn btn-secondary btn-icon"
          [routerLink]="[]"
          [queryParams]="{ page: page }"
          queryParamsHandling="merge"
          >{{ page }}</a
        >
      }
    }
    @if (currentPage === totalPages) {
      <span class="btn btn-primary btn-icon btn-disabled"
        ><app-icon icon="arrow" title="Next Page" class="-rotate-90"
      /></span>
    } @else {
      <a
        class="btn btn-primary btn-icon"
        [routerLink]="[]"
        [queryParams]="{ page: currentPage + 1 }"
        queryParamsHandling="merge"
        ><app-icon icon="arrow" title="Next Page" class="-rotate-90"
      /></a>
    }
  </div>
</ng-template>

<ng-template #phonePageTemplate>
  <ng-container *ngTemplateOutlet="tutorialsList" />
</ng-template>

<ng-template #desktopContentTemplate>
  <ng-container *ngTemplateOutlet="tutorialsList" />
</ng-template>

<app-content-page
  [phonePageTemplate]="phonePageTemplate"
  [desktopContentTemplate]="desktopContentTemplate"
/>
