@switch (level()) {
  @case (1) {
    <h1 [class]="class()" [id]="id()"><ng-container *ngTemplateOutlet="content" /></h1>
  }
  @case (2) {
    <h2 [class]="class()" [id]="id()"><ng-container *ngTemplateOutlet="content" /></h2>
  }
  @case (3) {
    <h3 [class]="class()" [id]="id()"><ng-container *ngTemplateOutlet="content" /></h3>
  }
  @case (4) {
    <h4 [class]="class()" [id]="id()"><ng-container *ngTemplateOutlet="content" /></h4>
  }
  @case (5) {
    <h5 [class]="class()" [id]="id()"><ng-container *ngTemplateOutlet="content" /></h5>
  }
  @case (6) {
    <h6 [class]="class()" [id]="id()"><ng-container *ngTemplateOutlet="content" /></h6>
  }
}

<ng-template #content>
  <ng-content />
</ng-template>
